<header>
  <nav>
    <img src="banner.png" alt="banner">
    <div>
      <div id="siteName">
        <a href="/" style="text-decoration: none;">Music Catalog</a>
      </div>
      <nav>
        <a href="/artists">List of Artists</a> |
        <a href="/artists/new">Add an Artist</a> |
        <a href="/songs">List of Songs</a> |
        <a href="/songs/new">Add a Song</a>
      </nav>
    </div>
  </nav>
</header>