<!-- Homepage -->
<link rel="stylesheet" type="text/css" href="style.css">
<h3>Welcome to the ripoff clone of Genius!</h3>
<p>Though unfinished, you should be able to put names of your favorite artists and song titles. These queries will then be stored into a database and you should be able to see your inputs.</p>
